<script src="https://giscus.app/client.js"
        data-repo="21CSM/21csm.github.io"
        data-repo-id="R_kgDOMxbv6Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOMxbv6c4Cidhx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://21csm.github.io/giscus_light.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>